## ASSIGNMENT 3

Assignment 4: Download Abalone dataset. (URL: http://archive.ics.uci.edu/ml/datasets/Abalone)
a) Predict the number of rings either as a continuous value or as a classification problem.
b) Predict the age of abalone from physical measurements using linear regression

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("abalonenew.csv")

In [3]:
data.head(5)

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [4]:
data.describe()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831,9.933684
std,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203,3.224169
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000,11.000000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sex             4177 non-null   object
 1   Length          4177 non-null   float64
 2   Diameter        4177 non-null   float64
 3   Height          4177 non-null   float64
 4   Whole weight    4177 non-null   float64
 5   Shucked weight  4177 non-null   float64
 6   Viscera weight  4177 non-null   float64
 7   Shell weight    4177 non-null   float64
 8   Rings           4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [6]:
data.isna().sum()

Sex               0
Length            0
Diameter          0
Height            0
Whole weight      0
Shucked weight    0
Viscera weight    0
Shell weight      0
Rings             0
dtype: int64

In [7]:

# import matplotlib.pyplot as plt
# fig, (ax1, ax2, ax3) = plt.subplots(1, 3, figsize=(15, 5)) 
# # first param "1" refers to no. of rows, second param "3" referst to no. of cols
# fig.tight_layout()  #makes the columns more spaced out

# #Sex and nr. of Rings
# ax1.bar(data["Sex"][:1000], data["Rings"][:1000], color="pink")
# ax1.set(title="Sex and No. of Rings", 
#        xlabel="Sex",
#        ylabel="Number of rings")

# # Diameter and nr. of Rings
# ax2.scatter(data["Diameter"][:1000], data["Rings"][:1000], color="darkmagenta")
# ax2.set(title="Diameter and No. of Rings",
#        xlabel="Diameter",
#        ylabel="Nr. of Rings")

# # Whole weight and nr. of Rings
# ax3.scatter(data["Whole weight"][:1000], data["Rings"][:1000], color="teal")
# ax3.set(title="Whole weight and No. of Rings",
#        xlabel="Whole weight",
#        ylabel="Number of rings");

In [8]:
from sklearn.preprocessing import LabelEncoder

# instantiate LabelEncoder
l_encoder = LabelEncoder()

# transform data
data["Sex"] =  l_encoder.fit_transform(data["Sex"])

##### PART A

In [9]:
data.Rings.value_counts()

9     689
10    634
8     568
11    487
7     391
12    267
6     259
13    203
14    126
5     115
15    103
16     67
17     58
4      57
18     42
19     32
20     26
3      15
21     14
23      9
22      6
27      2
24      2
1       1
26      1
29      1
2       1
25      1
Name: Rings, dtype: int64

In [10]:
# Split data into X and y
X_r = data.drop("Rings", axis=1) #axis=1 means that we drop the entire column
y_r = data["Rings"]

In [11]:
from sklearn.model_selection import train_test_split

# Split data into train and test sets
Xr_train, Xr_test, yr_train, yr_test = train_test_split(X_r , y_r,test_size=0.2,random_state=14)

In [12]:
len(Xr_train), len(yr_train), len(Xr_test), len(yr_test)

(3341, 3341, 836, 836)

In [13]:
from sklearn.linear_model import LinearRegression
model=LinearRegression() # initialzing the model
model.fit(Xr_train, yr_train)
yr_pred=model.predict(Xr_test)
from sklearn.metrics import r2_score
r2_score( yr_test,yr_pred)

0.46610564201574844

In [14]:
from sklearn import metrics
import numpy as np
print('Mean Absolute Error:', metrics.mean_absolute_error(yr_test, yr_pred))
print('Mean Squared Error:', metrics.mean_squared_error(yr_test, yr_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(yr_test, yr_pred)))

Mean Absolute Error: 1.6040251022026184
Mean Squared Error: 5.309122785257009
Root Mean Squared Error: 2.3041533771120815

##### DISPLAYING PREDICTION FOR RINGS

In [15]:
data.loc[2574,:]

Sex               2.0000
Length            0.4800
Diameter          0.3700
Height            0.1000
Whole weight      0.5135
Shucked weight    0.2430
Viscera weight    0.1015
Shell weight      0.1350
Rings             8.0000
Name: 2574, dtype: float64

In [16]:
Xr_test.head(4)# from sklearn.preprocessing import scale
# data_scaled=pd.DataFrame(scale(data),columns=data.columns)
# data_scaled

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
2374,1,0.435,0.335,0.110,0.3830,0.1555,0.0675,0.1350
3341,0,0.490,0.390,0.135,0.5900,0.2150,0.1250,0.1845
3361,2,0.410,0.315,0.095,0.3060,0.1210,0.0735,0.0900
2574,2,0.480,0.370,0.100,0.5135,0.2430,0.1015,0.1350

In [17]:
yr_pred[3]

8.249188226354434

#### PART -B

age is determined by the number of rings + 1.5. Therefore, we need to create a new ["Age"] column in our data and drop the ["Rings"] column.

In [18]:

# # Add age column
data["Age"] = data["Rings"] + 1.5
data=data.drop(columns=["Sex"],axis=1)
# # Drop rings column
# data_scaled.drop("Rings", axis=1, inplace=True)

In [19]:
data.head()
data.corr()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,Age
Length,1.000000,0.986812,0.827554,0.925261,0.897914,0.903018,0.897706,0.556720,0.556720
Diameter,0.986812,1.000000,0.833684,0.925452,0.893162,0.899724,0.905330,0.574660,0.574660
Height,0.827554,0.833684,1.000000,0.819221,0.774972,0.798319,0.817338,0.557467,0.557467
Whole weight,0.925261,0.925452,0.819221,1.000000,0.969405,0.966375,0.955355,0.540390,0.540390
Shucked weight,0.897914,0.893162,0.774972,0.969405,1.000000,0.931961,0.882617,0.420884,0.420884
Viscera weight,0.903018,0.899724,0.798319,0.966375,0.931961,1.000000,0.907656,0.503819,0.503819
Shell weight,0.897706,0.905330,0.817338,0.955355,0.882617,0.907656,1.000000,0.627574,0.627574
Rings,0.556720,0.574660,0.557467,0.540390,0.420884,0.503819,0.627574,1.000000,1.000000
Age,0.556720,0.574660,0.557467,0.540390,0.420884,0.503819,0.627574,1.000000,1.000000

In [20]:
# Split data into X and y
X = data.drop("Age", axis=1) #axis=1 means that we drop the entire column
y = data["Age"]

In [21]:
from sklearn.model_selection import train_test_split

# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2,random_state=14)

In [22]:
len(X_train), len(y_train), len(X_test), len(y_test)

(3341, 3341, 836, 836)

In [23]:
data.corr()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,Age
Length,1.000000,0.986812,0.827554,0.925261,0.897914,0.903018,0.897706,0.556720,0.556720
Diameter,0.986812,1.000000,0.833684,0.925452,0.893162,0.899724,0.905330,0.574660,0.574660
Height,0.827554,0.833684,1.000000,0.819221,0.774972,0.798319,0.817338,0.557467,0.557467
Whole weight,0.925261,0.925452,0.819221,1.000000,0.969405,0.966375,0.955355,0.540390,0.540390
Shucked weight,0.897914,0.893162,0.774972,0.969405,1.000000,0.931961,0.882617,0.420884,0.420884
Viscera weight,0.903018,0.899724,0.798319,0.966375,0.931961,1.000000,0.907656,0.503819,0.503819
Shell weight,0.897706,0.905330,0.817338,0.955355,0.882617,0.907656,1.000000,0.627574,0.627574
Rings,0.556720,0.574660,0.557467,0.540390,0.420884,0.503819,0.627574,1.000000,1.000000
Age,0.556720,0.574660,0.557467,0.540390,0.420884,0.503819,0.627574,1.000000,1.000000

In [24]:
from sklearn.linear_model import LinearRegression
model=LinearRegression() # initialzing the model
model.fit(X_train, y_train)
y_pred=model.predict(X_test)
from sklearn.metrics import r2_score
r2_score( y_test,y_pred)

1.0

In [25]:
from sklearn import metrics
import numpy as np
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 2.2225708780055766e-15
Mean Squared Error: 9.74752769250365e-30
Root Mean Squared Error: 3.1221030880647824e-15

In [26]:
##### DISPLAYING PREDICTION FOR AGE

In [27]:
data.loc[2574,:]

Length            0.4800
Diameter          0.3700
Height            0.1000
Whole weight      0.5135
Shucked weight    0.2430
Viscera weight    0.1015
Shell weight      0.1350
Rings             8.0000
Age               9.5000
Name: 2574, dtype: float64

In [28]:
X_test.head(4)

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
2374,0.435,0.335,0.110,0.3830,0.1555,0.0675,0.1350,12
3341,0.490,0.390,0.135,0.5900,0.2150,0.1250,0.1845,12
3361,0.410,0.315,0.095,0.3060,0.1210,0.0735,0.0900,9
2574,0.480,0.370,0.100,0.5135,0.2430,0.1015,0.1350,8

In [29]:
np.roy_pred[3]

9.500000000000002